@import "pokemonsprites.css";

body,
html {
  height: 100%;
}

@font-face {
  font-family: pokeFont;
  src: url(fonts/pokemon-ds-font.ttf);
}

div {
  font-family: pokeFont;
  color: rgb(78, 78, 78);
  font-size: 3em;
  background-image: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-name: fadeout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 100;
  animation-iteration-count: 1;
}

.textbox {
  text-shadow: 1px 1px 2px rgb(146, 146, 146), 2px 2px 2px rgb(146, 146, 146),
    3px 2px 1px rgb(146, 146, 146);
  font-family: pokeFont;
  background-image: url("img/textbox.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15em;
  width: 15em;
  height: 2.7381em;
  position: relative;
  top: 85%;
  left: 50%;
  margin-left: -7.5em;
}

.textboxtext {
  text-align: start;
  position: absolute;
  top: -0.65em;
  left: 0.75em;
}

.start {
  background-image: url("img/start_background.png");
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.press-enter {
  position: relative;
  top: 10%;
  height: 28px;
  width: 356px;
  animation-name: pulse;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}

.pressed-enter {
  position: relative;
  top: 10%;
  height: 28px;
  width: 356px;
  animation-name: pressed;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

* {
  overflow: hidden;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.95);
  }
}

@keyframes fadeout {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  75% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: rgb(0, 0, 0);
  }
}

@keyframes pressed {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(20);
    opacity: 0;
  }
}
