* {
  overflow: hidden;
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  user-select: none;
  margin: 0px;
}

@font-face {
  font-family: pokeFont;
  src: url(fonts/pokemon-ds-font.ttf);
}

@font-face {
  font-family: pokeNumbers;
  src: url(fonts/pokemonnumbers.ttf);
}

#widthTestCanvas {
  height: 0px;
  width: 0px;
}

#gameCanvas {
  background-color: #000000;
  height: 384px;
  width: 512px;
  position: absolute;
  image-rendering: pixelated;
}

#canvasBorder {
  position: absolute;
  height: 396px;
  width: 524px;
  image-rendering: pixelated;
}

div {
  font-family: pokeFont;
  color: rgba(82, 82, 90, 1);
  font-size: 3em;
  background-image: none;
  image-rendering: pixelated;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  animation-name: intro-fadeout;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  z-index: 100;
  animation-iteration-count: 1;
}

.textbox {
  text-shadow: 0.065em 0em rgb(165, 165, 173), 0em 0.065em rgb(165, 165, 173),
    0.065em 0.065em rgb(165, 165, 173);
  font-family: pokeFont;
  background-image: url("img/textbox.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15em;
  width: 15em;
  height: 2.7381em;
  position: relative;
  top: 50%;
  left: 50%;
  margin-left: -7.5em;
}

.buttonY {
  --variable-width: 70vw;
  width: 70vw;
  --variable-max-width: 10em;
  max-width: 10em;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/clickbox.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: min(
    calc(var(--variable-width) * 0.991735),
    calc(var(--variable-max-width) * 0.991735)
  );
  z-index: 10;
  height: calc(var(--variable-width) * 0.213);
  max-height: calc(var(--variable-max-width) * 0.213);
  position: relative;
  top: 45%;
  left: 50%;
  margin-left: calc(
    calc(min(var(--variable-width), var(--variable-max-width)) / -2) / 0.991735
  );
  opacity: 0;
  margin-top: 0.5em;
}

.buttonN {
  --variable-width: 70vw;
  width: 70vw;
  --variable-max-width: 10em;
  max-width: 10em;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/clickbox.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: min(
    calc(var(--variable-width) * 0.991735),
    calc(var(--variable-max-width) * 0.991735)
  );
  z-index: 10;
  height: calc(var(--variable-width) * 0.213);
  max-height: calc(var(--variable-max-width) * 0.213);
  position: relative;
  top: 47.5%;
  left: 50%;
  margin-left: calc(
    calc(min(var(--variable-width), var(--variable-max-width)) / -2) / 0.991735
  );
  opacity: 0;
}

.textboxArrow {
  position: absolute;
  top: 52%;
  left: 94.6%;
  width: 4.181818182%;
  height: auto;
  animation-name: bounce;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
  image-rendering: auto;
}

.textboxText {
  text-align: start;
  position: absolute;
  top: -0.55em;
  left: 0.85em;
  margin-right: 1.5em;
  height: 1.85em;
  overflow: auto;
}

.clickboxText {
  z-index: 11;
  position: absolute;
  height: calc(calc(var(--variable-width) * 0.213) / 3.5);
  max-height: calc(calc(var(--variable-max-width) * 0.213) / 3.5);
  image-rendering: auto;
}

.selector {
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  max-width: 10em;
  height: calc(var(--variable-width) * 0.213);
  max-height: calc(var(--variable-max-width) * 0.213);
  display: none;
}

.buttonY:hover .selector {
  display: block;
}

.buttonN:hover .selector {
  display: block;
}

.start {
  background-image: url("img/start_background.webp");
  background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.logo {
  width: 85%;
  max-width: 80em;
  position: absolute;
  top: 20%;
  z-index: -1;
  image-rendering: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.press-enter {
  position: absolute;
  top: 65%;
  max-width: 15em;
  height: auto;
  animation-name: pulse;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  image-rendering: auto;
}

.pressed-enter {
  position: absolute;
  top: 65%;
  width: 30%;
  max-width: 15%;
  height: auto;
  animation-name: pressed;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  image-rendering: auto;
}


@keyframes pulse {
  0% {
    transform: scale(0.95);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.95);
  }
}

@keyframes intro-fadeout {
  0% {
    background-color: rgba(0, 0, 0, 0);
  }

  75% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: rgb(0, 0, 0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes pressed {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(20);
    opacity: 0;
  }
}

@keyframes bounce {
  50% {
    transform: translateY(0.125em);
  }
}

@keyframes selector {
  50% {
    opacity: 0;
  }
}
